<!DOCTYPE html>
<html lang="en">

<head>
    <title>Booked Appointments</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="template.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            display: flex;
            height: 100vh;
            justify-content: center;
            align-items: center;
            padding: 20px;
            background: linear-gradient(#8b699b, gray);
        }

        footer {
            bottom: 0;
            position: absolute;
            width: 100%;
            padding: 5px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="images/logo.png" width="50" height="50" alt="Logo">
            </div>
            <div id="myNavbar">
                <ul class="nav navbar-nav navbar-collpase">
                    <li><a href="landlordProfile">Profile</a></li>
                    <li><a href="landlordMessaging">Messaging</a></li>
                    <li class="active"><a href="appointmentListLandlords">Appointments</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Housing<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="viewLandlordListings">My Listings</a></li>
                            <li><a href="propertySearchLandlords">Search Listings</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-3">
        <form action="/appointmentListLandlords" method="POST">
            <h2>Booked Appointments</h2>
            <p>Keep track and manage your booked appointments.</p>
            <table class="table">
                <tbody>
                    <tr>
                        <th></th>
                        <th>Landlord Username</th>
                        <th>Listing ID</th>
                        <th>Date/Time</th>
                    </tr>
                    {{#each list}}
                    <tr>
                        <td><input type="checkbox" id="checkbox" name="checkbox" value="{{this.listingId}}"></td>
                        <td>{{this.landlord}}</td>
                        <td>{{this.listingId}}</td>
                        <td>{{this.time}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary mt-3">Delete</button>
        </form>
    </div>

    <footer class="container-fluid bg-4 text-center margin">
        <p>Contact us at support@ohis.com</p>
    </footer>
</body>

</html>