<!DOCTYPE html>
<html lang="en">

<head>
    <title>Landlord Create Listing</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        input,
        label {
            margin: 5px 5px;
        }

        .navbar {
            margin-bottom: 0;
            background-color: #b2a7cc !important;
            z-index: 9999;
            border: 0;
            font-family: Montserrat, sans-serif;
            font-size: 15px !important;
            line-height: 1.42857143 !important;
            letter-spacing: 2px;
            border-radius: 0;
        }

        .navbar li a,
        .navbar .navbar-brand {
            color: rgb(53, 18, 90) !important;
        }

        .navbar-nav li a:hover,
        .navbar-nav li.active a {
            color: #8b699b !important;
            background-color: rgb(255, 255, 255) !important;
        }

        .dropdown-menu li a:hover {
            background-color: #c9c4d5 !important;
        }

        .bg-4 {
            color: rgb(53, 18, 90);
            margin-bottom: 500;
            margin-top: 50;
            padding-top: 50;
            background-color: #b2a7cc !important;
        }

        .form-group {
            width: 450px;
        }

        .form-control {
            float: left;
        }

        #inputCity {
            width: 50%;
        }

        #inputState {
            width: 15%;
        }

        #inputZip {
            width: 28%;
        }

        #inputCounty {
            width: 45%;
        }

        #inputCountry {
            width: 50%;
        }

        #inputsquare-feet {
            width: 15%;
        }
    </style>
</head>


<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="images/logo.png" width="50" height="50" alt="Logo">
            </div>
            <div id="myNavbar">
                <ul class="nav navbar-nav navbar-collpase">
                    <li><a href="/landlordProfile">Profile</a></li>
                    <li><a href="/landlordMessaging">Messaging</a></li>
                    <li><a href="/appointmentListLandlords">Appointments</a></li>
                    <li class="dropdown-active"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Housing<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="active"><a href="/viewLandlordListings">My Listings</a></li>
                            <li><a href="/propertySearchLandlords">Search Listings</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div container-fluid>
        <div class="row">
            <br><br>
            <div class="col-sm-4" style="background-color:lavender;">
                <!--h4>Landlord Jane Doe</h4-->
                <img class="img" src="images/landlord.jpg" width="150" height="150" alt="user">
            </div>

            <div class="col-sm-8" style="background-color:lightblue;">
                <div class="rendered-form">
                    <h1>Make a listing</h1>

                    <form action="/createListingPage" method="POST" id="listingForm">
                        <!-- Address -->
                        <label for="address" class="">Address of Listing: *</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="street" id="street" placeholder="Street"
                                required>
                            <input type="text" class="form-control" name="inputCity" id="inputCity" placeholder="City"
                                required>
                            <input type="text" class="form-control" name="inputState" id="inputState"
                                placeholder="State" value="NJ" required>
                            <input type="number" class="form-control" name="inputZip" id="inputZip" placeholder="Zip"
                                pattern="[0-9]{5}" required>
                            <input type="country" class="form-control" name="inputCountry" id="inputCountry"
                                placeholder="Country" value="USA" required>
                        </div>
                        <br><br><br><br><br><br>
                        <!-- Website -->
                        <div class="form-group">
                            <label for="building-website" class="formbuilder-text-label">Link to Building
                                Website:</label>
                            <input type="text" class="form-control" name="buildingWebsite" id="buildingWebsite">
                        </div>
                        <!-- Description -->
                        <div class="form-group">
                            <label for="description-of-listing" class="formbuilder-textarea-label">Description of
                                Listing:</label>
                            <textarea type="textarea" class="form-control" name="descriptionOfListing"
                                id="descriptionOfListing"></textarea>
                        </div>
                        <!-- Square Feet -->
                        <div class="form-group">
                            <label class="form-label" for="square-feet">Square Feet: *</label>
                            <input type="number" name="squareFeet" id="squareFeet" class="form-control"
                                required="required" aria-required="true" />
                        </div>
                        <!-- Number of Bath -->
                        <div class="form-group">
                            <label for="number-of-bath" class="formbuilder-text-label"># of Bath: *</label>
                            <input type="number" class="form-control" name="numberOfBath" id="numberOfBath"
                                required="required" aria-required="true">
                        </div>
                        <!-- Total Rooms -->
                        <div class="form-group">
                            <label for="num-total-rooms" class="formbuilder-text-label"># of Total Rooms *</label>
                            <input type="number" class="form-control" name="numTotalRooms" id="numTotalRooms"
                                required="required" aria-required="true">
                        </div>
                        <!-- Occupancy Date -->
                        <div class="form-group">
                            <label for="occupancy-date" class="text-label">Occupancy Date *</label>
                            <input type="date" class="form-control" name="occupancyDate" id="occupancyDate"
                                required="required" aria-required="true">
                        </div>
                        <!-- Lease Type -->
                        <div class="form-group">
                            <label for="lease-type" class="text-label">Lease Type: *</label>
                            <input type="text" class="form-control" name="leaseType" id="leaseType" required="required"
                                aria-required="true" required>
                        </div>
                        <!-- Rental Rate of prices -->
                        <div class="form-group">
                            <label for="rental-rate" class="text-label">Rental Rate: *</label>
                            <input type="number" class="form-control" name="rentalRate" id="rentalRate"
                                required="required" aria-required="true">
                        </div>
                        <!-- Restrictions - Text Area -->
                        <div class=" form-group">
                            <label for="restrictions" class="textarea-label">Restrictions</label>
                            <textarea type="textarea" class="form-control" name="restrictions"
                                id="restrictions"></textarea>
                        </div>
                        <br><br><br>
                        <!-- Ammenities -->
                        <label> Select Amenities </label>
                        <div class="checkbox">
                            <label><input type="checkbox" id="gym" name="gym" value=1>Gym</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" id="pool" name="pool" value=1>Pool</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" id="laundry" name="laundry" value=1>Laundry</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" id="parking" name="parking" value=1>Parking</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" id="furnished" name="furnished" value=1>Furnished</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" id="dishwasher" name="dishwasher" value=1>Dishwasher</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" id="hardwood-floors" name="hardwood-floors" value=1>Hardwood
                                Floors</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" id="carpeted-floors" name="carpeted-floors" value=1>Carpeted
                                Floors</label>
                        </div>
                        <div class="submit-button">
                            <button type="submit" class="Submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <footer class="container-fluid bg-4 text-center margin">
            <p>Contact us at offcampushousinginfosystem@gmail.com</p>
        </footer>
</body>

</html>