<!DOCTYPE html>
<html lang="en">
<head>
  <title>Create Sublet Listing</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
  input, label {
      margin: 5px 5px;
  }

  .form-group {
      width: 450px;
  }

  .form-control {
      float: left;
  }

  #inputCity {
      width: 50%;
  }

  #inputState {
      width: 15%;
  }

  #inputZip {
      width: 28%;
  }

  #inputCounty {
      width: 45%;
  }

  #inputCountry {
      width: 50%;
  }

  #inputsquare-feet{
      width: 15%;
  }
</style>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img src="images/logo.png" width="50" height="50" alt="Logo">
      </div>
      <div id="myNavbar">
      <ul class="nav navbar-nav navbar-collpase">
        <li><a href="/studentProfile">Profile</a></li>
        <li><a href="/studentMessaging">Messaging</a></li>
        <li><a href="/appointmentListStudents">Appointments</a></li>
        <li class="active dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Housing<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/viewStudentSublet">My Listings</a></li>
            <li><a href="/propertySearch">Search Listings</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Roommates <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/roommateMatchingForm">Roommate Matching Form</a></li>
            <li><a href="/roommateMatchingResults">Roommate Matching Results</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="#" onclick="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
        </div>
    </div>
  </nav>


<div container-fluid>
  <div class="row">
      <div class="col-sm-4" style="background-color:lavender;">
            <h4>Student Jane Doe</h4>
            <img class="img" src="images/landlord.jpg" width="150" height="150" alt="user">
        </div>

    <div class="col-sm-8" style="background-color:lightblue;">
        <br>
        <div class="rendered-form">
          <h1 id="control-8418835">Make a Sublet Listing</h1>

          <form action="/auth/createSubletPage" method="POST" id="listingForm">
              <!-- Address -->
              <label for="address" class="">Address of Listing: *</label>
              <div class="form-group">
                  <input type="text" class="form-control" id="street" placeholder="Street" required>
                  <input type="text" class="form-control" id="inputCity" placeholder="City" required>
                  <input type="text" class="form-control" id="inputState" placeholder="State" value="NJ" required>
                  <input type="number" pattern="[0-9]{5}" class="form-control" id="inputZip" placeholder="Zip" required>
                  <input type="country" class="form-control" id="inputCountry" placeholder="Country" value="USA" required>
              </div>
              <br><br><br><br><br><br>
              <!-- Website -->
              <div class="form-group">
                  <label for="building-website" class="formbuilder-text-label">Link to Building Website:</label>
                  <input type="text" class="form-control" name="building-website" id="building-website">
              </div>
              <!-- Description -->
              <div class="form-group">
                  <label for="description-of-listing" class="formbuilder-textarea-label">Description of Listing:</label>
                  <textarea type="textarea" class="form-control" name="description-of-listing" id="description-of-listing"></textarea>
              </div>
              <!-- Square Feet -->
              <div class="form-group">
                  <label class="form-label" for="square-feet">Square Feet: *</label>
                  <input type="number" id="square-feet" class="form-control" required="required" aria-required="true" />
              </div>
              <!-- Number of Bath -->
              <div class="form-group">
                  <label for="number-of-bath" class="formbuilder-text-label"># of Bath: *</label>
                  <input type="number" class="form-control" name="number-of-bath" id="number-of-bath" required="required" aria-required="true">
              </div>
              <!-- Total Rooms -->
              <div class="form-group">
                  <label for="num-total-rooms" class="formbuilder-text-label"># of Total Rooms *</label>
                  <input type="number" class="form-control" name="num-total-rooms" id="num-total-rooms" required="required" aria-required="true">
              </div>
              <!-- Occupancy Date -->
              <div class="form-group">
                  <label for="occupancy-date" class="text-label">Occupancy Date *</label>
                  <input type="date" class="form-control" name="occupancy-date" id="occupancy-date" required="required" aria-required="true">
              </div>
              <!-- Lease Type -->
              <div class="form-group">
                  <label for="lease-type" class="text-label">Lease Type: *</label>
                  <input type="text" class="form-control" name="lease-type" id="lease-type" required="required" aria-required="true" required>
              </div>
              <!-- Rental Rate of prices -->
              <div class="form-group">
                  <label for="rental-rate" class="text-label">Rental Rate: *</label>
                  <input type="number" class="form-control" name="rental-rate" id="rental-rate" required="required" aria-required="true">
              </div>
              <!-- Restrictions - Text Area -->
              <div class=" form-group">
                  <label for="restrictions" class="textarea-label">Restrictions</label>
                  <textarea type="textarea" class="form-control" name="restrictions" id="restrictions"></textarea>
              </div>
              <br><br><br>
              <!-- Ammenities -->
              <label> Select Amenities </label>
              <div class="checkbox">
                  <label><input type="checkbox" value="gym">Gym</label>
              </div>
              <div class="checkbox">
                  <label><input type="checkbox" value="pool">Pool</label>
              </div>
              <div class="checkbox">
                  <label><input type="checkbox" value="laundry">Laundry</label>
              </div>
              <div class="checkbox">
                  <label><input type="checkbox" value="parking">Parking</label>
              </div>
              <div class="checkbox">
                  <label><input type="checkbox" value="furnished">Furnished</label>
              </div>
              <div class="checkbox">
                  <label><input type="checkbox" value="dishwasher">Dishwasher</label>
              </div>
              <div class="checkbox">
                  <label><input type="checkbox" value="hardwood-floors">Hardwood Floors</label>
              </div>
              <div class="checkbox">
                  <label><input type="checkbox" value="carpeted-floors">Carpeted Floors</label>
              </div>
                     <div class="submit-button">
            <button type="submit" class="Submit">Submit</button>
        </div>
              {{!-- <button type="submit" class="btn-default btn" name="publish-listing" id="publish-listing" onclick="publishListing()">Publish Listing</button> --}}
          </form>
        </div>
    </div>
</div>
<footer class="container-fluid bg-4 text-center margin">
    <p>Contact us at support@ohis.com</p>
  </footer>
<script>
    function publishListing(){
      // verifying all fields are entered
      const street = document.forms["listingForm"]["street"].value;
      const inputCity = document.forms["listingForm"]["inputCity"].value;
      const inputState = document.forms["listingForm"]["inputState"].value;
      const inputZip = document.forms["listingForm"]["inputZip"].value;
      const inputCountry = document.forms["listingForm"]["inputCountry"].value;
      const squarefeet = document.forms["listingForm"]["square-feet"].value;
      const numberOfBath = document.forms["listingForm"]["number-of-bath"].value;
      const numTotalRooms = document.forms["listingForm"]["num-total-rooms"].value;
      const occupancyDate = document.forms["listingForm"]["occupancy-date"].value;
      const leaseType = document.forms["listingForm"]["lease-type"].value;
      const rentalRate = document.forms["listingForm"]["rental-rate"].value;

      if(street.length > 0 && inputCity.length > 0 && inputState.length > 0 && inputZip.length > 0 && inputCountry.length > 0 && squarefeet.length > 0 && numberOfBath.length > 0 
          && numTotalRooms.length > 0 && occupancyDate.length > 0 && leaseType.length > 0 && rentalRate.length > 0 ){
          window.location='viewStudentSublet.html';
      }
      
    }
    function logout(){
      alert("You have been logged out");
      window.location='login.html';
    }
  </script>
</body>
</html>
