<!DOCTYPE html>
<html lang="en">
<head>
    <title>Master Admin Create Admin Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            display:flex;
            height:100vh;
            justify-content: center;
            align-items: center;
            padding:40px;
            background: linear-gradient(#8b699b, gray);
        }
        .container{
            max-width:700px;
            width:100%;
            max-height:450px;
            height:100%;
            background: white;
            padding: 30px 35px;
            border-radius:8px;
        }

        .container .title{
            font-size: 30px;
            font-weight:100;
            margin-bottom: 20px;
            text-align: center;
        }

        .container form .user-info{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        form .user-info .reg-box{
            margin-bottom:25px;
            width:calc(100%/2 - 25px);
        }

        .user-info .reg-box .info {
            display:block;
            font-weight:500;
            margin-bottom:5px;
        }
        .user-info .reg-box input {
            height:35px;
            width:100%;
            border-radius:8px;
            padding-left: 8px;
            font-size: 14px;
        }
        form .submit-button {
            height:40px;
            width:100%;
            margin: 30px 0;
            text-align: center;
        }
        form .submit-button input{
            height:100%;
            width:30%;
            font-size: 19px;
            color: black;
            border-radius: 1px;
            background-color: white;
            outline:10px;
            outline-color: #000;
            border-color:black;
            border-width: 2px;
            border-radius: 50px;
            font-weight:100;
        }
        footer {
            bottom:0;
            position:absolute;
            width:100%;
            padding:5px;
        }
        #button {
            position:absolute; top:60px; left:10px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top navbar navbar-light" style="background-color: #e3f2fd">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="images/logo.png" width="50" height="50" alt="Logo">
        </div>
        <ul class="nav navbar-nav">
        </ul>
    </div>
</nav>

<button type="button" class="btn" id="button">
    <a href="login.html"><span class="glyphicon glyphicon-triangle-left"></span> Back</button></a>
<div class="container">

    <div class="title">Landlord Registration</div>
    <form action="#">
        <div class="user-info">
            <div class="reg-box">
                <span class="info">Full Name</span>
                <input type=”text”  placeholder="Full Name" required>
            </div>
            <div class="reg-box">
                <span class="info">Username</span>
                <input type=”text”  placeholder="Username" required>
            </div>
            <div class="reg-box">
                <span class="info">Phone Number</span>
                <input type="tel" placeholder=111-222-3333 id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
            </div>
            <div class="reg-box">
                <span class="info">Password</span>
                <input type=”text”  placeholder="Password" required>
            </div>
            <div class="reg-box">
                <span class="info">Email Address</span>
                <input type="email" placeholder="example@email.com" required>
            </div>
            <div class="reg-box">
                <span class="info">Confirm Password</span>
                <input type=”text”  placeholder="Confirm Password" required>
            </div>
        </div>
        <div class="submit-button">
            <input type="submit" value="Submit" onclick="viewProfile()">
        </div>
    </form>
</div>
<footer class="container-fluid bg-4 text-center margin">
    <p>Contact us at support@ohis.com</p>
</footer>
<script>
    function viewProfile(){
        window.location='landlordProfile.html';
    }
</script>
</body>
</html>