<!DOCTYPE html>
<html lang="en">

<head>
  <title>View Student Sublet</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    body {
      display: flex;
      height: 100vh;
      justify-content: center;
      align-items: center;
      padding: 20px;
      background: linear-gradient(#8b699b, gray);
    }
    .form-group-input {
      width: 200px;
    }
    .alert {
      position:center;
      width: 400px;
    }
    footer {
      bottom: 0;
      position: absolute;
      width: 100%;
      padding: 5px;
    }
  </style>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img src="images/logo.png" width="50" height="50" alt="Logo">
      </div>
      <div id="myNavbar">
        <ul class="nav navbar-nav navbar-collpase">
          <li><a href="/studentProfile">Profile</a></li>
          <li><a href="/studentMessaging">Messaging</a></li>
          <li><a href="/appointmentListStudents">Appointments</a></li>
          <li class="dropdown-active"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Housing<span
                class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="active"><a href="/viewStudentSublet">My Listings</a></li>
              <li><a href="/propertySearch">Search Listings</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Roommates <span
                class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/roommateMatchingForm">Roommate Matching Form</a></li>
              <li><a href="/roommateMatchingResults">Roommate Matching Results</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container mt-3">
    <h2>View Sublet</h2>
    <p>Students can have at max 1 sublet listing. If you wish to add more, create a landlord account.</p>

    <button type="button" class="btn btn-primary mt-3" onclick="createListing()">Create Listing</button>

    <div class="form-group">
      <table class="table">
        <thead>
          <th>Listing ID</th>
          <th>Date Listed</th>
          <th>Lease Date</th>
        </thead>
        <tbody>
          {{#each listing}}
          <tr>
            <td>{{listingId}}</td>
            <td>{{date_created}}</td>
            <td>{{occupancy_date}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <br><br><br>
    <h2>Delete a Sublet</h2>
    <p>Type the listing ID if you wish to delete it.</p>
    <form action="/viewStudentSublet/studentDeleteSublet" method="POST">
      <div class="form-group-input">
        <input type="text" class="form-control" id="listingID" name="listingID" placeholder="Enter listing ID" required>
        <button type="submit" class="btn btn-default">Delete Listing</button>
      </div>
    </form> 

    {{#if message}}
    <div class='alert'>
      <h4 class="alert alert-danger mt-4">{{message}}</h4>
    </div>
    {{/if}}
  </div>
  <script>
    function createListing() {
      window.location = "createSubletPage";
    }
  </script>
  <footer class="container-fluid bg-4 text-center margin">
    <p>Contact us at support@ohis.com</p>
  </footer>
</body>

</html>